<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://angular-ui.github.com/ng-grid/css/ng-grid.css" />
	<title>La Araucana - Beneficios</title>
</head>
<body style="font-size: 10px;">
	<div class="container" ng-controller="BeneficiosController">
		<div class="form-inline">
			<input style="font-size: 11px;" type="text" id="institucionTxt" class="form-control" placeholder="Institución" ng-model="buscar.institucion">
			<select style="font-size: 11px;" name="ComboZona" id="ComboZona" onChange="llenarComboRegion()" class="form-control" ng-model="buscar.zona">
				<option value="">Zona...</option>
			</select>
			<select style="font-size: 11px;" name="ComboRegion" id="ComboRegion" class="form-control" onChange="llenarComboCiudad()" ng-model="buscar.region">
				<option value="">Región...</option>
			</select>
			<select style="font-size: 11px;" name="ComboCiudad" id="ComboCiudad" class="form-control" onChange="llenarComboComuna()" ng-model="buscar.ciudad">
				<option value="">Ciudad...</option>
			</select>
			<select style="font-size: 11px;" name="ComboComuna" id="ComboComuna" class="form-control" ng-model="buscar.comuna">
				<option value="">Comuna...</option>
			</select>
		</div>
		<div class="form-inline">
			<select style="font-size: 11px;" name="ComboSegmento" id="ComboSegmento" class="form-control" ng-model="buscar.segmento">
				<option value="">Segmento...</option>
				<option ng-repeat="segmento in datos.segmentos" value="{{segmento}}">{{segmento}}</option>
			</select>
			<select style="font-size: 11px;" name="ComboCategoria" id="ComboCategoria" class="form-control" ng-model="buscar.categoria">
				<option value="">Categoría...</option>
				<option ng-repeat="categoria in datos.categorias" value="{{categoria}}">{{categoria}}</option>
			</select>
			<select style="font-size: 11px;" name="ComboSubCategoria" id="ComboSubCategoria" class="form-control" ng-model="buscar.subcategoria">
				<option value="">Subcategoría...</option>
				<option ng-repeat="subCategoria in datos.subCategorias" value="{{subCategoria}}">{{subCategoria}}</option>
			</select>
			<select style="font-size:11px;width:300px" name="ComboConvenio" id="ComboConvenio" class="form-control" ng-model="buscar.convenio">
				<option value="">Convenio...</option>
				<option ng-repeat="convenio in datos.convenios" value="{{convenio}}">{{convenio}}</option>
			</select>
		</div>
		<br>
		<div class="panel panel-default" width="900">
			<table id="miTabla" class="table table-striped table-bordered">
				<thead>
				<tr style="background-color:#D8D8D8;">
					<th>Institución</th>
					<th>Zona</th>
					<th>Región</th>
					<th>Ciudad</th>
					<th>Comuna</th>
					<th>Segmento</th>
					<th>Categoría</th>
					<th>Subcategoría</th>
					<th>Convenio</th>
					<th>Ahorro Estimado</th>
					<th>Como Acceder</th>
					<th>Dirección</th>
					<th>Vigencia</th>
					<th>Legales</th>
					<th>Más info</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="dato in datos.datos | orderBy: dato.institucin | filter:buscar.institucion | filter:buscar.zona | filter:buscar.region | filter:buscar.ciudad | filter:buscar.comuna | filter:buscar.segmento | filter:buscar.categoria | filter:buscar.subcategoria | filter:buscar.convenio">
					<td>{{dato.institucion}}</td>
					<td>{{dato.zona}}</td>
					<td>{{dato.region}}</td>
					<td>{{dato.ciudad}}</td>
					<td>{{dato.comuna}}</td>
					<td>{{dato.segmento}}</td>
					<td>{{dato.categoria}}</td>
					<td>{{dato.subcategoria}}</td>
					<td>{{dato.convenio}}</td>
					<td>{{dato.ahorroEstimado | currency}}</td>
					<td>{{dato.formaDeAccederAlBeneficio}}</td>
					<td>{{dato.direccion}}</td>
					<td>{{dato.vigencia | date:'fullDate'}}</td>
					<td>{{dato.legales}}</td>
					<td><a href="{{dato.linkAMasInformacion}}" target="_blank">Más información</a></td>
				</tr>				
				</tbody>
			</table>
		</div>
		<!--<div style="width:1000px;height:600px;border:1px solid rgb(212,212,212);" ng-grid="gridOptions"></div> -->
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.3.0-rc.4/angular-resource.min.js"></script>
	<script src="https://code.angularjs.org/1.3.0-rc.4/angular-route.min.js"></script>
	<script src="https://code.angularjs.org/1.3.0-rc.4/i18n/angular-locale_es-es.js"></script>
	<script type="text/javascript" src="http://angular-ui.github.com/ng-grid/lib/ng-grid.debug.js"></script>
	<script src="js/app.js"></script>
	<script src="js/combo.js"></script>
</body>
</html>